<form method="POST" action="/new">
    <h2>Send a message!</h2>
    Name: <input type="text" name="user" required>
    Message: <input type="text" name="message" required>
    <input type="submit" value="submit">
</form>