<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/style.css">

  </head>
  <body>
    <%- include('navbar', {links: links}) %>
    <ul>
      <% messages.forEach((message) => { %>
        <li>
          <strong><%= message.user %>:</strong> <%= message.text %> <em>(<%= message.added.toLocaleString() %>)</em>
        </li>
      <% }); %>
  </ul>
  </body>
</html>